@model SEESwebsite.Models.Event

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EventName" class="control-label"></label>
                <input asp-for="EventName" class="form-control" />
                <span asp-validation-for="EventName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventStartDate" class="control-label"></label>
                <input asp-for="EventStartDate" class="form-control" />
                <span asp-validation-for="EventStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventEndDate" class="control-label"></label>
                <input asp-for="EventEndDate" class="form-control" />
                <span asp-validation-for="EventEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventNotes" class="control-label"></label>
                <input asp-for="EventNotes" class="form-control" />
                <span asp-validation-for="EventNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="VenueName" class="control-label">Venue Name</label>
                <input name="VenueName" class="form-control" />
            </div>
            <div class="form-group">
                <label for="Address" class="control-label">Address</label>
                <input name="Address" class="form-control" />
            </div>
            <div class="form-group">
                <label for="City" class="control-label">City</label>
                <input name="City" class="form-control" />
            </div>
            <div class="form-group">
                <label for="State" class="control-label">State</label>
                <input name="State" class="form-control" />
            </div>
            <div class="form-group">
                <label for="ZipCode" class="control-label">Zip Code</label>
                <input name="ZipCode" class="form-control" />
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
